<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>COVID19PY - Gestión de reportes y denuncias</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <link href="/assets/css/app.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-color="blue">

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/reporte" class="simple-text">
                        COVID19PY
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/reporte">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Reporte General</p>
                        </a>
                    </li>
                    <li>
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Filtro</h4>
                                <p class="card-category">Tipos de denuncia a visualizar</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    
                                    <p><label> <input type="checkbox"/> Aglomeración</label></p>
                                    <p><label> <input type="checkbox"/> Incumpl. medidas sanitarias</label></p>
                                    <p><label> <input type="checkbox"/> Incumpl. cuarentena</label></p>
                                    <p><label> <input type="checkbox"/> Reporte de síntomas</label></p>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
                <div>

                </div>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"> Gestión de denuncias y reportes </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="nav navbar-nav mr-auto">
                        </ul>
                        <ul class="navbar-nav ml-auto">
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">
                            <div id="map"></div>
                        </div>
                        <div class="col-md-3 detalle_denuncia">
                            <div class="card" style="height: 100%;">
                                <div class="card-header">
                                    <h4 class="card-title">Información de denuncia</h4>
                                </div>
                                <div class="card-body">
                                    <p><b>Tipo de denuncia:</b> <span id="tipo_denuncia"></span></p>
                                    <p><b>Denunciante:</b> <span id="denunciante"></span>
                                    <hr/>
                                    <div id="denuncia_campos"></div>
                                    <hr/>
                                    <p><b>Observaciones</b></p>
                                    <p><textarea style="width: 100%;" readonly></textarea></p>
                                    <p class="card-text">
                                        <a href="#" type="submit" class="col btn btn-md btn-info btn-fill atendido" style="white-space: normal;">Marcar
                                            como
                                            atendido</a>
                                    </p>
                                    <hr>
                                    <div class="legend">
                                        <div class="stats">
                                            <i class="fa fa-clock-o"></i> Recibida en <span id="fecha">00/00/00
                                                00:00:00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="card  card-tasks">
                                <div class="card-header ">
                                    <h4 class="card-title">Últimas denuncias recibidas</h4>
                                    <p class="card-category">Actualización en tiempo real</p>
                                </div>
                                <div class="card-body ">
                                    <div class="table-full-width">
                                        <table class="table table-hover table-striped" id="tabla_denuncias">
                                            <thead>
                                                <tr>
                                                    <th>Fecha</th>
                                                    <th>Tipo</th>
                                                    <th>Departamento</th>
                                                    <th>Ciudad</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="base_col">
                                                    <td class="fecha"></td>
                                                    <td class="tipo"></td>
                                                    <td class="departamento"></td>
                                                    <td class="ciudad"></td>
                                                    <td class="acciones"><a href="#" type="submit"
                                                            class="btn btn-info btn-fill">Ubicar</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="now-ui-icons loader_refresh spin"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">
                        </ul>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    <script src="/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/js/plugins/bootstrap-switch.js"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnsGTR7uV4YR5ciyRlvZehgrxT0wjS7MM&language=es-419&region=PY"></script>
    <script src="/assets/js/plugins/chartist.min.js"></script>
    <script src="/assets/js/plugins/bootstrap-notify.js"></script>
    <script src="/assets/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>